<a href="https://colab.research.google.com/github/leanpina/Pandas_Corey_Shaffer/blob/main/SnippetsCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

##Dois tipos de notação para fatiar um dataframe

- dot Notation
- Brackets

Problemas com "dot Notation"
- Risco de uma coluna ter o mesmo nome de um método
  - Exemplo "count"

In [6]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [7]:
 df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

Para passar multiplas colunas os nomes das mesmas devem ser apresentadas com uma lista. Essa é a razão dos colchetes duplicados.

In [9]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

Como verificar todos os nomes de colunas em um dataframe ?

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

###Como obter linhas de um dataframe ?

- iloc: Integer location
- loc: Busca por labels (custom indexes)
  - Por ora não existe indexes customizados para o nosso dataframe. portanto podemos considerar os atuais números representados a esquerda

In [11]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[[0,2]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

###Como obter linhas de determinadas colunas ?
Sequência de parâmetros (ROWS, COLUMNS)

In [13]:
df.iloc[[0, 2], 2]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [14]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [15]:
df.loc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [16]:
df.loc[[0,1], ['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

#Python Pandas Tutorial (Part 3): Indexes - How to Set, Reset, and Use Indexes

In [17]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

email - ótimo candidato para indíce, pois não se repete

In [18]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [19]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [20]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

Para que a mudança do indice ocorra de modo permanente.

In [21]:
df.set_index('email', inplace=True)

In [22]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [23]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [24]:
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [25]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [26]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [27]:
df.reset_index(inplace=True)

In [28]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

#Python Pandas Tutorial (Part 4): Filtering - Using Conditionals to Filter Rows and Columns

In [29]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [30]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [31]:
filt = (df['last'] == 'Doe')

In [32]:
df[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

o uso do método loc também funciona para receber dados de uma ou várias colunas.

`df.loc[filt, 'email']`

O primeiro termo especifica as linhas e o segundo termo as colunas que que deseja o retorno.

In [33]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

Uso dos operadores &(and) | (OU)

In [34]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [35]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [36]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [37]:
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

Como obter como resultado a negação. Uso do ~

In [38]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object