<a href="https://colab.research.google.com/github/leanpina/Pandas_Corey_Shaffer/blob/main/SnippetsCode_Chapter5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
df.columns = ['first_name', 'last_name', 'email']

In [8]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

##Retrabalhando nomes de colunas

In [9]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [10]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [11]:
df.columns = df.columns.str.replace(' ', '_')
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [12]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [13]:
df.rename(columns={'first_name':'first', 'last_name':'last'})

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [14]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [15]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)

In [16]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

##Alterar valores de uma linha inteira

In [17]:
 df.loc[2]

first                 John
last                   Doe
email    JohnDoe@email.com
Name: 2, dtype: object

In [18]:
 df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [19]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

##Alterar alguns elementos da linha

In [20]:
df.loc[2, ['last', 'email']]

last                   Smith
email    JohnSmith@email.com
Name: 2, dtype: object

In [21]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [22]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [23]:
df.loc[2, 'last'] = 'Smith'

In [24]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

Possibilidade de uso de `.at` para get e **set** um nico valor. Sem explicao a no ser por motivos de performance. O uso de `.loc` ser mantido.

In [25]:
df.at[2, 'last'] = 'Doe'

In [26]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

##Erros comuns

In [27]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [28]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last']

2    Doe
Name: last, dtype: object

In [29]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

<ipython-input-29-3767d2a961d2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Smith'

In [30]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'

In [31]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

##Alterar todos os elementos de uma coluna

In [32]:
df['email'].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [33]:
df['email'] = df['email'].str.lower()

In [34]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

Uso dos mtodos:


*   apply
*   map
* applymap
* replace

###Uso do mtodo apply
apply - chama por uma funo que pode aplicada a um dataframe ou uma serie

No exemplo abaixo vamos supor que queremos saber o tamanho de cada email

In [35]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [36]:
def update_email(email):
  return email.upper()

In [37]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [38]:
df['email'] = df['email'].apply(update_email)

In [39]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

Podemos tambm usar funes lambda

In [40]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [41]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

No exemplo abaixo vemos que aplicamos a funo `len` para uma especifica coluna. porm se quisessemos aplicar a mesma funo para um dataframe a mesma analogia no se aplica.

In [42]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

Como pode ser visto a funo `len` foi aplicada para cada serie.

In [43]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [44]:
len(df['email'])

3

In [46]:
df.apply(len, axis='rows')

first    3
last     3
email    3
dtype: int64

In [47]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

Para aplicar uma funo para cada coluna do dataframes, podemos aplicar como exemplo o retorno do valor minimo.
No caso podemos perceber que o mtodo `apply` executou  uma funo para cada series.

In [48]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [49]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

### Uso applymap

Usado para aplicar uma funo para cada elemento do dataframe

In [50]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [51]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

### Uso do map

Usado para substituir valores.

* map - qdo no encontra correpondncia aplica NaN
* replace - mantm o valor anterior.

In [52]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [53]:
df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [54]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [55]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com