<a href="https://colab.research.google.com/github/leanpina/Pandas_Corey_Shaffer/blob/main/SnippetsCode_Chapter6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

## Adição de uma nova coluna

In [8]:
df['full_name'] = df['first'] + ' ' + df['last']

In [9]:
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

##Apagando coluna

In [10]:
df.drop(columns=['first', 'last'])

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [11]:
df.drop(columns=['first', 'last'], inplace=True)

In [12]:
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

## Separar uma coluna em duas

In [13]:
df['full_name'].str.split(' ')

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object

In [14]:
df['full_name'].str.split(' ', expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [15]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

In [16]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

## Adicionar (append) uma nova linha ao dataset

In [17]:
df.append({'first' : 'Tony'})

TypeError: ignored

In [18]:
df.append({'first' : 'Tony'}, ignore_index=True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

## Associar (append) dataframes

In [19]:
people = {
    "first": ["Tony", "Stece"],
    "last": ["Stark", "Rogers"],
    "email": ["ironMan@avenge.com", 'Cap@avenge.com']
}

df2 = pd.DataFrame(people)

In [20]:
df2

   first    last               email
0   Tony   Stark  ironMan@avenge.com
1  Stece  Rogers      Cap@avenge.com

In [21]:
df.append(df2, ignore_index=True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       ironMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Stece   Rogers

In [25]:
df = df.append(df2, ignore_index=True)

In [26]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       ironMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Stece   Rogers

## Apagar linhas de um dataframe

In [27]:
df.drop(index=4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       ironMan@avenge.com            NaN   Tony    Stark

In [28]:
df.drop(index = df[df['last'] == 'Doe'].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       ironMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Stece   Rogers

Para melhorar a leitura do código podemos separar o filtro aplicado ao dataframe

In [29]:
filt = df['last'] == 'Doe'
df.drop(index = df[filt].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       ironMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Stece   Rogers